body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

a {
  /* The default link colour in Material-UI is unreadable with the dark theme */
  color: inherit;
}

#root {
  height: 100%;
}